<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>146481162551-puu6ut00g9utasqag6nl5g74t4vmem51.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.146481162551-puu6ut00g9utasqag6nl5g74t4vmem51</string>
	<key>API_KEY</key>
	<string>AIzaSyBlL86YUvRz1zWqDz6o7wCE2z1r9NzmAos</string>
	<key>GCM_SENDER_ID</key>
	<string>146481162551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ambercatalbas-gmail.com.Stock</string>
	<key>PROJECT_ID</key>
	<string>stock-75d25</string>
	<key>STORAGE_BUCKET</key>
	<string>stock-75d25.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:146481162551:ios:ff85b61bed13279fa592b2</string>
</dict>
</plist>